<mat-grid-list cols="3" rowHeight="1:1" gutterSize="15px" class="http-birds">

  <mat-grid-tile class="http-bird">
    <mat-grid-tile-header>
      <button mat-raised-button>Copy Url</button>
    </mat-grid-tile-header>
    <img src="/http-birds/100Continue.png" alt="100Continue bird">
    <mat-grid-tile-footer>
      100 Continue
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile class="http-bird">
    <mat-grid-tile-header>
      <button mat-raised-button>Copy Url</button>
    </mat-grid-tile-header>
    <img src="/http-birds/200OK.png" alt="200ok bird">
    <mat-grid-tile-footer class="http-bird-footer">
      200 OK
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile class="http-bird">
    <mat-grid-tile-header>
      <button mat-raised-button>Copy Url</button>
    </mat-grid-tile-header>
    <img src="/http-birds/201Created.png" alt="200Created bird">
    <mat-grid-tile-footer>
      201 Created
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile class="http-bird">
    <mat-grid-tile-header>
      <button mat-raised-button>Copy Url</button>
    </mat-grid-tile-header>
    <img src="/http-birds/406NotAcceptable.png" alt="406NotAcceptable bird">
    <mat-grid-tile-footer>
      406 NotAcceptable
    </mat-grid-tile-footer>
  </mat-grid-tile>

</mat-grid-list>

