@import '~@angular/material/theming';
@include mat-core();

$oswren-theme-primary: mat-palette($mat-blue-grey, A700);
$oswren-theme-accent: mat-palette($mat-blue-grey, 500);
$oswren-theme-warn: mat-palette($mat-deep-orange, 900);

$oswren-theme: mat-dark-theme($oswren-theme-primary, $oswren-theme-accent, $oswren-theme-warn);

@include angular-material-theme($oswren-theme);
