<div class="container">
    <mat-card class="mtg-sets-search-card">
        <p>Search MTG Set for cards</p>
        <div class="container">
            <mat-card class="cards">
                <button mat-flat-button (click)="populateAllSets()" 
                    class="link-button"
                    color="accent">
                    <span>View Set List</span>
                </button>
                <br/>
                <br/>
                <mat-form-field appearance="fill">
                    <mat-label class="card-input">Magic Set</mat-label>
                    <input matInput [(ngModel)]="chosenSetCode"
                    (ngModelChange)="isValidSetCode()">
                </mat-form-field>
                <button mat-flat-button (click)="populateAllCardsForSet()" 
                    class="search-button"
                    color="accent"
                    [disabled]="!isValidSetCode()">
                    <mat-icon>search</mat-icon>
                </button>
                <div class="cards-found-area">Cards found: {{numberOfCardsInSet}}</div>
            </mat-card>
        </div>
    </mat-card>

    <mat-card class="mtg-sets-search-card set-list" *ngIf="setList.length > 0">
        <mat-list>
            <mat-list-item *ngFor="let set of setList">
                <button 
                    mat-flat-button 
                    color="accent"
                    (click)="populateAllCardsForSet(set.code)">
                        {{set.name}}
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>


<mat-card class="mtg-cards-card" *ngIf="(setData.length > 0)">
    <mat-grid-list cols="3" rowHeight="50px" gutterSize="10px" class="card-grid">
        <mat-grid-tile>
            <button mat-mini-fab class="button-left" (click)="pageLeft()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </mat-grid-tile>

        <mat-grid-tile>
            <span class="paging-text">{{cardPage}} of {{setData.length}}</span>
        </mat-grid-tile>

        <mat-grid-tile>
            <button mat-mini-fab class="button-right" (click)="pageRight()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>

    <br/>

    <mat-divider></mat-divider>
    <mat-grid-list cols="6" rowHeight="1:1.25" gutterSize="10px" class="card-grid">
        <mat-grid-tile 
            *ngFor="let card of setData[cardPage - 1]">
            <img class="images" src="{{card.imageUrl}}" alt="{{card.text}}}" layout-fill>
        </mat-grid-tile>
    </mat-grid-list>    
</mat-card>